<!--First is to iterate though the set of questions to get individual ones -->
<h2> List of questions posted </h2>
<% i = 1 %>
<% questions = Question.all %>
<% questions.each do |question| %>
	<%= "#{i})" %> <a href="/questions/<%= question.id %>"><%= question.title %></a> by <%= question.user.name%>

	<% if question.votes.count == 0 %>
		<% @can_vote = true %>
	<% else question.votes.each do |vote| %>
		<% if vote.user_id == session[:user_id] %>
			<% @can_vote = false %>	
			<form action="/upvote/<%= question.id %>/<%= vote.id %>/reset" method="POST">
				<input type="submit" value="upvote"></form>
			<form action="/downvote/<%= question.id %>/<%= vote.id %>/reset" method="POST">
				<input type="submit" value="downvote"></form>
			<form action="/questions/<%= question.id %>/<%= vote.id %>/reset" method="POST">
				<input type="submit" value="reset"></form>
			<% break %>
		<% else vote.user_id != session[:user_id] %>
			<% @can_vote = true %>
		<% end %>
	<% end %>
<% end %><br>
<!--we use the can_vote variable in order to ensure we don't get a repeat if question.votes.count == 0 -->
<% if @can_vote == true %>
	<form action="/questions/<%= question.id %>/upvote" method="POST" class="up" data-id="<%= question.id %>">
		<input type="submit" value="upvote"></form>
	<a href="/questions/<%= question.id %>/downvote"><button class="down">downvote</button></a><br>
<% end %>

	Total Vote(s): <span id="vote-result-<%= question.id %>"><%= question.votes.count %><br> </span>
	Total Upvote(s): <%= question.votes.where(vote_count: 1).count %><br>
	Total Downvote(s)	<%= question.votes.where(vote_count: -1).count %><br><br>
	<% i += 1 %>
	<% j = 1 %>
	<strong>List of Answers</strong><br>
	<% if question.answers.count == 0 %>
		No answers yet, would you want answer it?
	<% else %>
		<% question_answers = question.answers %>
		<% question_answers.each.with_index do |answer, index| %>
			<%= index + 1 %><%= ". " %><%= answer.reply %><br>
	<form action="/answers/<%= answer.id %>/upvote" method="POST" class="up" data-id="<%= answer.id %>">
		<input type="submit" value="a. upvote"></form>

		<% end %>
	<% end %>
<br><% end %>