<h2> List of questions posted </h2>
<% i = 1 %>
<% questions = Question.all %> 
<% @votes = Vote.all %>
<% questions.each do |question| %>
	<%= i %><%= " " %>
	<a href="/questions/<%= question.id %>"><%= question.title %></a>
	by <%= question.user.name%>

	<a href="/questions/<%= question.id %>/upvote"><button>upvote</button></a>
	<a href="/questions/<%= question.id %>/downvote"><button>downvote</button></a><br>
	ID of voter:

	<% question.votes.each do |vote| %>
		<%= vote.user_id %>
	<% end %><br>
	Total Vote(s): <%= question.votes.count %>	<br> 
	Total Upvote(s): <%= question.votes.where(vote_count: 1).count %>	 <br>
	Total Downvote(s)	<%= question.votes.where(vote_count: -1).count %> <br>
	<br>
	<% i += 1 %>
	<% end %>