<h2> List of questions posted </h2>
<% i = 1 %>
<% questions = Question.all %> 
<% questions.each do |question| %>
	<%= i %><%= " " %>
	<a href="/questions/<%= question.id %>"><%= question.title %></a>
	by <%= question.user.name%>

	<a href="/questions/<%= question.id %>/upvote"><button>upvote</button></a>
	<a href="/questions/<%= question.id %>/downvote"><button>downvote</button></a>
	<% i += 1 %>
	<% end %>