<h2> List of questions posted </h2>
<% i = 1 %>
<% questions = Question.all %> 
<% @votes = Vote.all %>
<% questions.each do |question| %>
	<%= "#{i})" %>
	<a href="/questions/<%= question.id %>"><%= question.title %></a>
	by <%= question.user.name%>
<br>
Vote eligibility? :
	<% if question.votes.count == 0 %>
		<% @can_vote = true %>
	<% elsif question.votes.count != 0 %>
		<% question.votes.each do |vote| %>
			<% if vote.user_id == session[:user_id] %>
 				<% @can_vote = false %>
 				<% break %>
			<% else %>	
				<% @can_vote = true %>
			<% end %>
		<% end %>
	<% end %>
<%= @can_vote %><br>

Do we need to reset your votes :
	<% if question.votes.count != 0 %>
	<% @reset_vote = true %>
		<% question.votes.each do |vote| %>
			<% if vote.user_id == session[:user_id] %>
				<% vote.destroy %>
				<% break %>
			<% end %>
		<% end %>
	<% end %>

<%= @reset_vote %><br>
	

		<a href="/questions/<%= question.id %>/upvote"><button>upvote</button></a>
		<a href="/questions/<%= question.id %>/downvote"><button>downvote</button></a><br>

	Total Vote(s): <%= question.votes.count %><br> 
	Total Upvote(s): <%= question.votes.where(vote_count: 1).count %><br>
	Total Downvote(s)	<%= question.votes.where(vote_count: -1).count %><br>
	<br>
	<% i += 1 %>
	<% end %>