<!--First is to iterate though the set of questions to get individual ones -->
<h2> List of questions posted </h2>
<% i = 1 %>
<% questions = Question.all %>
<% questions.each do |question| %>
	<%= "#{i})" %> <a href="/questions/<%= question.id %>"><%= question.title %></a> by <%= question.user.name%>
		<form action="/questions/<%= question.id %>/upvote" method="POST">
			<input type="submit" value="upvote"></form>
		<form action="/questions/<%= question.id %>/downvote" method="POST">
			<input type="submit" value="downvote"></form>
		<form action="/questions/<%= question.id %>/reset" method="POST">
			<input type="submit" value="reset"></form>

	<!--To show vote count(s) by type-->
	Total question vote(s): <span id="vote-result-<%= question.id %>"><%= question.votes.count %><br> </span>
	Total question upvote(s): <%= question.votes.where(vote_count: 1).count %><br>
	Total question downvote(s)	<%= question.votes.where(vote_count: -1).count %><br><br>
	<% i += 1 %>

	<!-- To list all possible answers for a question -->
	<strong>List of Answers</strong><br>
	<% if question.answers.count == 0 %>
		No answers yet, would you want answer it?
	<% else %>
		<% question_answers = question.answers %>
		<% question_answers.each.with_index do |answer, index| %>
			<%= index + 1 %><%= ". " %><%= answer.reply %><br>

	<!--The form for up voting on answers -->
	<form action="/answers/<%= answer.id %>/upvote" method="POST">
		<input type="submit" value="a. upvote"></form>
	<!--The form for down voting on answers -->
	<form action="/answers/<%= answer.id %>/downvote" method="POST">
		<input type="submit" value="a. downvote"></form>
	<!--The form for resetting answers -->
	<form action="/answers/<%= answer.id %>/reset" method="POST">
		<input type="submit" value="a. reset"></form>

	<!--To find the total amount of votes by type-->	
	Total answer vote(s): <span id="vote-result-<%= answer.id %>"><%= answer.answer_votes.count %><br> </span>
	Total answer upvote(s): <%= answer.answer_votes.where(vote_count: 1).count %><br>
	Total answer downvote(s): <%= answer.answer_votes.where(vote_count: -1).count %><br>

		<% end %>
	<% end %>
<br><% end %>