<h2> List of questions posted </h2>
<% i = 1 %>
<% questions = Question.all %> 
<% questions.each do |question| %>
	<%= i %><%= " " %>
	<a href="/questions/<%= question.id %>"><%= question.title %></a>
	by <%= question.user.name%>

	<form action="/vote/upvote" method="POST">
		<input type="hidden" name="question_id" value="<%= question.id %>">
		<input type="submit" value="upvote">
	</form> 

	<form action="/vote/downvote" method="POST">
		<input type="hidden" name="question_id" value="<%= question.id %>">
		<input type="submit" value="downvote">
	</form>
	<% i += 1 %>
	<% end %>