<h1><%= @question.title %></h1>
by <%= @question.user.name%><br>

<a href="/questions/<%= @question.id %>/edit">
<button>Edit question</button>
</a>

<form action="/questions/<%= @question.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete">
</form>

<h3>Answers</h3>
<% i = 1 %>
<% @question.answers.each do |answer| %>
	<%= i %>
	<a href="/answers/<%= answer.id %>"><%= answer.reply %></a><br>
	<% i += 1 %>
	<% end %>

<p> Answer the question</p>
<form action="/answers" method="POST">
	<label>Answer: </label>
	<input type="hidden" name="question_id" value="<%= @question.id %>">
	<input type="text" name="reply"><br>
	<input type="submit" value="Post it">
</form>